<!-- admin.html -->
{% extends 'base.html' %}

{% block title %}Admin Update Users {% endblock %}

{% block content %}

<div class="up_container">

</div>

 <div class="container">
     
     <div class="left-column">
         <a href="">UPDATE PROFILE</a>
         <a href="">ADD RESTAURANT</a>
         <a href="">UPDATE RESTAURANT</a>
         <a href="">UPDATE USERS</a>
         <a href="">INBOX</a>
    
     </div>

     <div class="right-column">
        <h6>UPDATE USERS</h6>
        
        
    

    </div>  

    </div>

{% endblock %}