<!-- admin.html -->

{% extends 'base.html' %}

{% block title %}Admin view {% endblock %}

{% block content %}
{% if user.user_type == 'admin' %}

<!--section between the nav and form-->
<div class="up_container"></div>

<div class="container">

    <!--admin navigation-->
    <div class="left-column">
        <a href="/register/admin">UPDATE PROFILE</a>
        <a href="/register/admin/add-restaurants">ADD RESTAURANT</a>
        <a href="updaterestaurant.html">UPDATE RESTAURANT</a>
        <a href="/register/admin/update-users">UPDATE USERS</a>
        <a href="/register/admin">INBOX</a>
    </div>

    <!--admin information update form-->
    <div class="right-column">
        <h6>ADMIN</h6>
        <br>
        <div class="profile-info">
            <label for="first_name"> First Name </label>
            <input type="text" id="first_name">
            <label for="last_name"> Last Name </label>
            <input type="text" id="last_name">
            <label for=""> Email </label>
            <input type="text" id="email">
            <label for="contact_no"> Contact number </label>
            <input type="text" id="contact_no">
            <br><br>
            <button id="update-btn">UPDATE</button>
        </div>
    </div>

    <script src="admin_script.js"></script>
</div>

<div class="up_container"></div>

{% else %}
    <!-- Show a message or redirect to an access-denied page -->
    {% comment %}
    <!-- Redirect to success.html -->
    <script>
        window.location.href = "{% url 'success' %}";
    </script>
    {% endcomment %}

    <!-- Or, you can display a message -->
    <p>Access Denied. You do not have admin privileges.</p>
{% endif %}

{% endblock %}
