<!-- admin.html -->

{% extends 'base.html' %}

{% block title %}Admin view {% endblock %}

{% block content %}
{% if user.user_type == 'admin' %}
<!-- {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %} -->


<!--section between the nav and form-->
<div class="up_container"></div>

<div class="container">

    <!--admin navigation-->
    <div class="left-column">
        <a href="#">UPDATE PROFILE</a>
        <a href="/register/admin/add-restaurants">ADD RESTAURANT</a>
        <a href="/register/admin/update-restaurants/">UPDATE RESTAURANT</a>
        <a href="/register/admin/update-users">UPDATE USERS</a>
        <a href="#">INBOX</a>
    </div>

    <!--admin information update form-->
    <!-- <div class="right-column">
        <h6>ADMIN</h6>
        <br>
        <div class="profile-info">
            <label for="first_name"> First Name </label>
            <input type="text" id="first_name">
            <label for="last_name"> Last Name </label>
            <input type="text" id="last_name">
            <label for=""> Email </label>
            <input type="text" id="email">
            <label for="contact_no"> Contact number </label>
            <input type="text" id="contact_no">
            <br><br>
            <button id="update-btn">UPDATE</button>
        </div>
    </div> -->
    
    <div class="right-column">
        <form id="admin-profile-form" action="/update-admin/" method="post">
            {% csrf_token %}

        <h6>ADMIN</h6>
        <br>
        <div class="profile-info">
            
                <label for="username" class="label"> User Name </label>
                <input type="text" id="first_name" class="input" name="first_name">
    
                <label for="display_name" class="label"> Display Name </label>
                <input type text" id="last_name" class="input" name="last_name">
    
                <label for="email" class="label"> Email </label>
                <input type="text" id="email" class="input" name="email">
    
                <label for="contact_no" class="label"> Contact number </label>
                <input type="text" id="contact_no" class="input" name="contact_no">
                <br><br>
                <button id="update-btn" class="btn">UPDATE</button>
            
        </div>
    </form>
    </div>
    
    
    

    <script src="admin_script.js"></script>
</div>

<div class="up_container"></div>

{% else %}
    <!-- Show a message or redirect to an access-denied page -->
    {% comment %}
    <!-- Redirect to success.html -->
    <script>
        window.location.href = "{% url 'success' %}";
    </script>
    {% endcomment %}

    <!-- Or, you can display a message -->
    <p>Access Denied. You do not have admin privileges.</p>
{% endif %}

{% endblock %}
