<!-- userhome.html -->

{% extends 'base.html' %}

{% block title %} My Account {% endblock %}

{% block content %}
{% if user.user_type == 'user' %}

<!--section between the nav and form-->
<div class="up_container"></div>

<div class="container">

    <!--user navigation-->
    <div class="left-column">
        <a href="#">EDIT PROFILE</a>
        <a href="tops">MY TOP RESTAURANTS</a>
        <a href="bookmarks">BOOKMARKED RESTAURANTS</a>
        <a href="email">EMAIL ADMIN</a>
    </div>

    <!--user information -->
    <div class="right-column">
        <h6>MY ACCOUNT</h6>
        <br>
        <div class="profile-info">
            <label for="first_name"> First Name </label>
            <input type="text" id="first_name">
            <label for="last_name"> Last Name </label>
            <input type="text" id="last_name">
            <label for=""> Email </label>
            <input type="text" id="email">
            <label for="contact_no"> Contact number </label>
            <input type="text" id="contact_no">
            <br><br>
            <button id="update-btn">UPDATE</button>
        </div>
    </div>
</div>

<div class="up_container"></div>

{% else %}
    <!-- Redirect to login.html -->
    <script>
        window.location.href = "{% url 'login' %}";
    </script>
{% endif %}

{% endblock %}