{% extends 'base.html' %}
{% load static %}
{% block title %}Blogs detail{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ blog.title }}</title>
</head>
<body>
    <h1>{{ blog.title }}</h1>
    <p><strong>Author:</strong> {{ blog.author.username }}</p>
    <p><strong>Posted on:</strong> {{ blog.created_at|date:"F j, Y, g:i a" }}</p>
    <p><strong>Last updated:</strong> {{ blog.updated_at|date:"F j, Y, g:i a" }}</p>
    <hr>
    <p>{{ blog.content }}</p>
    <hr>
    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
            <li>
                <p><strong>{{ comment.user.username }}</strong> ({{ comment.created_at|date:"F j, Y, g:i a" }}):</p>
                <p>{{ comment.text }}</p>
            </li>
        {% empty %}
            <li>No comments yet.</li>
        {% endfor %}
    </ul>
    <hr>

    <!-- Comment form -->
    <h3>Leave a Comment:</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Comment</button>
    </form>
    <hr>
    <a href="{% url 'list_blogs' %}">Back to Blog List</a>
</body>
</html>

{% endblock %}