*{
    font-family: Arial, Helvetica, sans-serif;
}

/*search box*/
.search-wrapper{
    padding-left: 100px;
    overflow:hidden;
    height:50px;
    background-color: white;
}
#search{
    float:left;
    padding:10px;
    color: black;
    max-width: 600px;
    width:100%;
}

.label_container{
   
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#search_button{
    
    width:150px;
    background-color: black;
    border:1px solid;
    color:white;
    border-radius: 30px;
    padding:10px 30px;
    margin-left: 10px;
    font-size: 15px;
    cursor:pointer;
    float:left;
  }

#search_button:hover{
    background-color: grey;
    color: white;
}

input{
    font-size: 1rem;
}


.dropbtn{
    color:rgb(120, 119, 118);
    padding:12px;
    font-size: 16px;
    border:none;
}

.dropdown_filters{
    position:relative;
    display:inline-block;
}

.dropdown_items{
    display:none;
    position:absolute;
    background-color: rgb(231, 229, 226);
    min-width: 160px;
    z-index: 1;

}

.dropdown_items a{
    color:black;
    padding:12px 16px;
    text-decoration: none;
    display:block;
}

.dropdown_items a:hover{background: #dad8d8;}

.dropdown_filters:hover .dropdown_items{display: block;}



/* filters */
.dropdown_nav{
    height:8vh;  
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:40%;
    margin-top:20px;
    margin-left:100px;
}

/* carousel code */

.image-carousel{
    margin-top: 2rem;
}

.slides {display: none;}


.slides img {
    vertical-align: middle;
    width:100%;}


.carousel-container {
    display:flex;
    justify-content: center;
    align-items:center;

}

.active {
    background-color: #bfb6b6;
}
    
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
} 

/* The dots/bullets/indicators */
.moving-dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #b6b3b3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.section1_container{
    height:800px;

}

/* card layout css */
.cards{
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 100%;
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
    gap:20px;
    font-family: Arial, Helvetica, sans-serif;

}

@media(max-width:768px){
    .cards{
        grid-template-columns: 1fr;
    }
    
}

.card{

    /*width:100%;*/
    width:400px;
    height:300px;
    overflow:hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.card_img{
    max-width: 100%;
    max-height: 70%;
    width:100%;
    height:100%;
    object-fit: cover;
    display: block;

}

.card_content{
    line-height:1.5 ;
    font-size:0.9rem;
    padding:15px;
    background: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
}

.card_content > p:first-of-type{
    margin-top: 0;
}
.card_content > p:last-of-type{
    margin-bottom: 0;
}
.card_info{
    padding:15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #e5e3e3;
    font-size: 0.8rem;
    border-bottom:1px solid grey;
    border-radius: 2px;
}

.card_link{
    color:rgb(19, 18, 19);
    text-decoration: none;
}

.card_link:hover{
    text-decoration:underline;
}

a{
    text-decoration:none!important;
}

