.not-visible {
    display: none;
}

.search-container {
    width: 85%;
    margin: 2rem auto;
    align-items: center;
    padding-top: 30px;
    display: flex;
}

.search-container nav {
    flex: 1;
}

.search-container .dropdown_nav {
    width: auto;
    margin-top: 0%;
}

.search-wrapper {
    padding: 0%;
    align-items: center;
    display: flex;
    flex: 1;
}

.label_container {
    width: 85%;
    margin: 2rem auto;
    padding: 0%;
    font-size: 24px;
    font-weight: bold;
}

.restaurant-container {
    width: 85%;
    margin: 2rem auto;
}

.restaurant-card {
    background-color: white;
    box-shadow: 0 0 2.5rem rgba(0,0,0,0.28);
}

.restaurant-image {
    height: 20rem;
    overflow: hidden;
}

.restaurant-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.restaurant-content {
    padding: 2rem;
}

.restaurant-title {
    margin: 0.5rem 0 0.5rem 0;
}

.restaurant-details,
.icon-text {
    display: flex;
    align-items: center;
}

.icon-text {
    margin-right: 1rem;
}

.icon-text .icon {
    color: #e25934;
    margin-right: 0.4rem;
}

.restaurant-cta {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    padding: 1.3rem 3rem;
    display: inline-block;
    background-color: #e25934;
    border-radius: 0.6rem;
    color: white;
    text-decoration: none;
}

#load-btn{
    width:150px;
    background-color: black;
    border:1px solid;
    color:white;
    border-radius: 30px;
    padding:10px 30px;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 15px;
    cursor:pointer;
    float:left;
  }

@media screen and (min-width: 900px) {
    .restaurant-card {
        display: flex;
        height: 20rem;
        overflow: hidden;
    }

    .restaurant-image {
        height: auto;
        flex: 1;
    }

    .restaurant-content {
        flex: 1.5;
        display: flex;
        flex-direction: column;
    }
}
